{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "node": 8
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["babel-plugin-ramda"]
}
