service:
  name: photo-resizer

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

package:
  individually: true

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 1024
  timeout: 30

  environment:
    BUCKET:
      Ref: PhotoBucket

  iamRoleStatements:
    - Effect: Allow
      Action:
        - 's3:*'
      # Restrict our IAM role permissions to
      # the specific table for the stage
      Resource:
        - 'Fn::GetAtt': [PhotoBucket, Arn]

functions:
  resizePhoto:
    handler: src/code/index.resizePhoto
    events:
      - http:
          path: resize/{key}
          method: get
          request:
            parameters:
              paths:
                key: true

custom:
  webpack:
    packager: 'yarn'
    packagerOptions: {}
    includeModules:
      forceExclude:
        - aws-sdk
        - gm

resources:
  # S3
  - ${file(resources/photo-bucket.yml)}
